OPENROUTER_API_KEY=your_primary_openrouter_api_key_here
OPENROUTER_API_KEYS=your_backup_openrouter_api_key_here,your_second_backup_key_here
OPENROUTER_REQUEST_TIMEOUT_SECONDS=8
FIREBASE_CREDENTIALS_PATH=./firebase-credentials.json
